# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some libraries commonly used by Data Scientists
- List Three development environment open source tools used in data science
- List few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. NumPy
3. Pandas 
4. Seaborn
5. TensorFLow

Three development environment open source tools used in data science:

|Data Science Tools|
|--------------------|
|Jupyter NoteBook |
|RStudio|
|Visual Studio Code ( with python extensions)|

### Below are a few examples of evaluating arithmetic expressions in Python:
- Addition :'a + b'
- Subtraction: 'a - b'
- Multiplication : 'a * b'

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

hours

3.3333333333333335

## Author
Dahmani Lydia